.jumbotron{
    margin:0;
}

.icon{
    width:25%;
}

#header{
    background: white;
    height: 75px;
    padding: 0;
    padding-top: 15px;
}

#menu{
    height: 600px;
    padding-top: 275px;
}

#aag{
    padding-top: 50px;
}

#photo{
    width: 100%;
}

#flightInfo, #safetyInfo, #tips{
    height: 300px;
}