.jumbotron{
    margin:0;
}

body{
    letter-spacing: .05em;
}
.icon{
    width:25%;
}

#header{
    background: white;
    height: 75px;
    padding: 0;
    padding-top: 15px;
}

#menu{
    height: 600px;
    padding-top: 275px;
    background: url("./images/Singapore.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    background-position: center;
}

#aag{
    padding-top: 50px;
}

#photo{
    display: block;
    max-width: 80%;
}

#flightInfo, #safetyInfo, #tips{
    height: 300px;
}

.card-deck{
padding: 50px;
margin:10px;
}

.card-body {
    background-color: pink;
}

footer {

  }